/* intro */

div.col-sm-12.quote > img{
  width: 40%;
  margin-top:120px;
}



/* about images */
.container-fluid.about-hero{
  padding-top:160px;
  padding-bottom:80px;
  background-color:#FEDD46;
}

img.mx-auto.d-block.about-icons{
  width:100%;
  height:auto;
}

/* intro */
div.col-sm-6 > p{
  margin-top:15%;
  width:80%;
}

.col-sm-6.case-img > img{
  width:50%;
  margin-top:60px;
}

/* why ux */
div.row.section-text{
  width:80%;
  margin:auto;
  margin-top:60px;
}

div.container-fluid{
  padding-left:0px;
}
