h1, h2, h3{
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
}

h2{
  font-size:48px;
  font-weight:bold;
}

h3{
  font-size: 28px;
  color: #27202E;
  font-family: JosefinSans-Light;
}

h4{
  font-family: "Ruluko", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #E7738F;
}

/* navigation */
.col-sm-12 > li{
  font-size:16px;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  color:#27202E;
  display:inline-block;
  text-indent:30px;
}

ul.col-sm-12{
  list-style:none;
  padding:0px 0px 0px 60px;
}

.col-sm-12 li.active {
  padding-bottom: 1px;
  border-bottom: 2px solid #27202E;
  text-indent:0px;
}

/* action button */
.btn{
  color: #933FDB;
  font-family: "JosefinSans-SemiBold", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 50px;
  border-width: 2px;
  border-color:#933FDB;
  border-radius:0;
  padding:10px 50px;
  margin-top:35px;
}

.row.action{
  background-image: linear-gradient(-180deg, #FCF5FB 0%, #F7E7F6 100%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.75);
  height:120px;
}

/* footer */

/*background color of footer changes in specific css*/

.col-sm-12 h2{
  padding-top:40px;
}
.col-sm-12 > ul{
  list-style:none;
  margin:0px;
  padding: 20px 0px 40px 0px;
}
.col-sm-12 > ul > li{
  display:inline-block;
  font-size:36px;
  margin:10px;
}
.fa-envelope{
  color:white;
  background-color:#E7738F;
  padding:15px;
  border-radius:50%;
}
.fa-github{
  color:white;
  background-color:#FEDD46;
  padding:15px;
  border-radius:50%;
}
.fa-linkedin{
  color:white;
  background-color:#0077B5;
  padding:15px;
  border-radius:50%;
}
