h1, h2 {
  font-family: "Ruluko", Helvetica, Arial, sans-serif;
}

h1{
  font-size:96px;
}

h2{
  font-size:48px;
}

h3{
  font-family: "Ruluko", Helvetica, Arial, sans-serif;
  font-size: 28px;
  margin-top:60px;
}

h3:before,
h3:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 35%;
}
h3:before {
 right: 0.5em;
 margin-left: -50%;
}
h3:after {
 left: 0.5em;
 margin-right: -50%;
}


h4{
  font-family:JosefinSans-Light;
  font-size:18px;
  color:#27202E;
}
h5{
  font-family: "Ruluko", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color:#282828;
}


p, ul{
  font-family:JosefinSans-Light;
  font-size:16px;
  color:#27202E;
  text-align:left;
}

a{
  font-family:JosefinSans-Light;
  color:#84235F;
}

.fa{
  font-size:40px;
}


img.nav-icons{
  width:auto;
  height:60px;
  margin: 0 60px 0 0;
}

i.fa.fa-angle-right{
  color:#84235F;
}

.navbar{
  width: 100%;
  z-index: 100;
  height:80px;
  position: fixed;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.50);
  background: white;
}

.navbar.landing{
  width: 100%;
  background:none;
  z-index: 100;
  height:80px;
  position: fixed;
  box-shadow: none;
  background: none;
}

a.navbar-brand > img{
  height:50px;
  width:auto;
  padding-right: 80px;
}

img.next-logo{
  height:20px;
  width:auto;
  margin-right:0px;
  padding-right:0px;
}

img.next-logo.larger{
  height:30px;
  width:auto;
  margin-right:0px;
  padding-right:0px;
}

div.navbar-nav{
  margin:auto;
}

div.navbar-nav.index{
  margin:0;
}


/* action button */
.btn{
  color: #27202E;
  background-color:#F8E71C;
  font-family: "JosefinSans-SemiBold", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 40px;
  border-width: 0px;
  border-radius:0;
  box-shadow: 0 2px 4px 0 #C8C0CA;
}

.case.btn{
  margin-top:30px;
  margin-bottom:30px
}

.landing.btn{
  margin-top:20px;
}


/* footer */

.container-fluid.footer{
  background-color:#27202E;
  margin-top:60px;
  min-height:320px;
}

.col-sm-12 p, .col-sm-12 h2{
  color:#FFFFFF;
}

.col-sm-12 h2{
  padding-top:40px;
}

.col-sm-12 > ul{
  list-style:none;
  margin:0px;
  padding: 20px 0px 40px 0px;
}

.col-sm-12 > ul > li{
  display:inline-block;
  font-size:36px;
  margin:10px;
}

.fa-envelope{
  color:white;
  background-color:#84235F;
  padding:15px;
  border-radius:50%;
}

.fa-github{
  color:white;
  background-color:#FEDD46;
  padding:15px;
  border-radius:50%;
}

.fa-linkedin{
  color:white;
  background-color:#0077B5;
  padding:15px;
  border-radius:50%;
}

/* image divider */
img.divider-image.mx-auto.d-block{
  width:50%;
}

/* img text divider */
h1.divider-text{
  color:#84235F;
  padding-top:10%;
}

img.mx-auto.d-block.divider-image{
  margin-top:60px;
  width:20%;
}

div.row.divider{
  padding: 60px 0px 60px 0px;
  background-image: linear-gradient(-180deg, #FCF5FB 0%, #FFFFFF 100%);
}

/* Effects */
a:active {
    background-color: #84235F;
    color:white;
}

.rotate:hover
{
        -webkit-transform: rotateZ(-15deg);
        -ms-transform: rotateZ(-15deg);
        transform: rotateZ(-15deg);
}
