img.mx-auto.d-block.wasted-logo{
  margin-top:40px;
  width:50%;
}

/* summary shortened */
img.float-right.summary.short, img.float-left.summary.short{
  margin-right:45px;
  margin-left:45px;
}

/* checklist */
div.col-sm-6 > h4.checklist{
  align:left;
  margin-left:0px;
  font-weight:bold;
}

div.col-sm-6.checklist > ul{
  margin-left:-28px;
}

div.col-sm-6.checklist{
  padding: 10px 10px;
  margin: 0%;
}

div.col-sm-6 > ul > li{
  margin-top:0px;
}

/* rows with tables/diagrams */

div.row.text-center{
  margin-top:60px;
}

div.col-sm-4.border.tasks, ul.col-sm-4.border.tasks{
  padding: 30px 30px;
  margin: 0px;
}

div.col-sm-4.border.tasks > p, ul.col-sm-4.border.tasks > li, div.col-sm-8.border.results > p{
  font-style:italic;
  color:#282828;
}

span.header.font-weight-bold{
  color:white;
  padding-bottom:20px;
}
div.col-sm-4 > h4{
  text-align: left;
  margin-left:35%;
}

div.col-sm-8 > h4{
  text-align: left;
  margin-left:5%;
}

div.col-sm-8.border.results{
  padding: 30px 30px;
  background-color: gray;
  margin: 0px;
}

div > p.col-sm-4.border{
  color:white;
}

div.row.diagram{
  width:80%;
  margin:auto;
}

div.row.diagram.graphic{
  width:80%;
  margin-top:30px;
}

div.col-sm-4.input-position.text-center.checklist{
  margin-left:35%;
}

ul.style-none{
  list-style: none;
}

.carousel-img{
  width:50%;
  height:auto;
}

/* storyframes */
h4.col-sm-12.input-position.text-center.storyframe{
  margin-top:0px;
  font-style:italic;
}
h4.font-weight-bold.storyframe, p.col-sm-12.section.storyframe{
  padding-left:20px;
}

div.row.section-text.storyframe{
  font-style:italic;
}
