img.mx-auto.d-block.comp-a{
  margin-top: -38px;
  margin-bottom: -105px;
}

div.row.survey-results{
  width:80%;
  margin-left:10%;
  margin-right:10%;
}

div.row.survey-results.header{
  margin-top:60px;
  margin-bottom:30px;
}

div.row.survey-results > div.col-sm-6{
  padding: 0 40px 0 40px;
}

div.col-sm-6.question > h4{
  width: 50%;
  margin-left: 38%;
  margin-top:60px;
}

.carousel-img.1{
  width:20%;
  height:auto;
}

img.mx-auto.d-block.spotted-logo{
  margin-top:40px;
  width:50%;
  margin-bottom:60px;
}
