/* basics */

.navbar{
  position:fixed;
}

a.navbar-brand > img{ /* personal logo */
  height:40px;
  width:auto;
  padding:0px;
  margin:20px 20px 20px 0px; /* gets 15px pad from container */
}

/* padding for nav items */
.col-sm-4.nav{
  padding:20px;
}

p{
  font-family:'Source Sans Pro', Arial, sans-serif;
  letter-spacing:.5px;
}

p.sm{
  font-size:16px;
}

p.lg{
  font-size:20px;
}

ul.lg > li, ol.lg > li{
  font-size:20px;
}

ul > li{
  font-family:'Source Sans Pro', Arial, sans-serif;
  letter-spacing:.5px;
}

ul.sm > li, ol.sm > li{
  font-size:16px;
}

/********** headers ***********/

h1.lg.case{
  margin: 120px 0 -42px 145px;
  letter-spacing: -15px;
}

h1.sm.case{
  margin: 120px 0 -18px 20px;
  letter-spacing:-6px;
}

h1.lg.case.stacked{
  line-height: 118px;
  margin: 120px 0px -2px 145px;
}

h1.sm.case.stacked{
  line-height:48px;
  margin: 120px 0 0px 20px;
}

h1.sm.case.stacked.overflow{
  font-size:64px!important;
  line-height:43px;
  margin: 120px 0 0px 20px;
}


h3{
  font-family: 'EB Garamound', serif;
  font-weight:600;
  margin-bottom:30px;
}

h3.lg{
  font-size:48px;
}

h3.sm{
  font-size:36px;
}

h3.dark{
  color:#404852;
}

h4.sm{
  font-size: 24px;
}




/****** header colors buttons *****/

h1.seafoam, p.seafoam, a.seafoam, span.seafoam{ /* light green */
  color:#B6DCCC;
}

span.vine{
  color:#8ED1B7; /*darker seafoam */
}

h1.skin, p.skin, a.skin{ /* light orange */
  color:#FFD4AE;
}

h1.powder, p.powder, a.powder{ /* darker orange */
  color:#FFC697;
}

h1.rose, p.rose, a.rose, span.rose{ /* light pink */
  color:#EFD1DF;
}

h1.sea, p.sea, a.sea, ul.sea, h4.sea, h3.sea, ol.sea{ /* darker blue */
  color:#69ACCD;
}

h1.sky, p.sky, a.sky, ul.sky{ /* lighter blue */
  color:#8ECDD6;
}

h1.lime, p.lime, a.lime, span.lime{ /* lime green */
  color:#EFF3B2;
}

h1.lemon, p.lemon, a.lemon, span.lemon{ /* light yellow green */
  color:#F6F7CE;
}

h1.white, p.white, a.white{ /*  white */
  color:#FFFFFF;
}

h1.orchid, p.orchid, a.orchid, span.orchid{ /* light purple */
  color:#E8D6EA;
}

h1.salmon, p.salmon, a.salmon, span.salmon{ /* salmon */
  color:#FFCCBC;
}

h1.lavender, p.lavender, a.lavender, span.lavender{ /* darker purple */
  color:#C5BDEF;
}

h1.marigold, p.marigold, a.marigold, span.marigold{ /* light yellow */
  color:#FFD47A;
}

h1.sunshine, p.sunshine, a.sunshine, span.sunshine{ /* light yellow */
  color:#FFC73F;
}

h1.sunshine, p.sunshine, a.sunshine, span.sunshine{ /* light yellow */
  color:#FFC73F;
}



/********** hero basics *********/



img.hero-img.lg{
  width:60%;
  height:auto;
  margin-top:30px;
}

img.hero-img.sm{
  width:80%;
  height:80%;
  margin: 30px auto 30px auto;
}



/*************** case hero *************/

/* wasted case hero */
div.hero.container-fluid.wasted{
  background-color:#8ECDD6;
}

div.hero.container-fluid.wasted.case{
  width:100vw;
  overflow:hidden;
}

div.hero.container-fluid.wasted.lg.case{
  min-height:1000px;
}

div.hero.container-fluid.wasted.sm.case{
  height:630px;
}

img.hero-logo.lg.wasted{
  width:35%;
  height:auto;
  margin-top:110px;
  margin-bottom:70px;
}

img.hero-logo.sm.wasted{
  width:50%;
  height:50%;
  margin: 110px auto 30px auto;
}

/* spotted case hero */
div.hero.container-fluid.spotted.case{
  background-color:#FFC73F;
  width:100vw;
  overflow:hidden;
}

div.hero.container-fluid.spotted.lg.case{
  min-height:1000px;
}

div.hero.container-fluid.spotted.sm.case{
  height:630px;
}

img.hero-logo.lg.spotted{
  width:30%;
  height:auto;
  margin-top:100px;
  margin-bottom:60px;
}

img.hero-logo.sm.spotted{
  width:50%;
  height:50%;
  margin: 110px auto 30px auto;
}

/* dockit case hero */
div.hero.container-fluid.dockit.case{
  background-color:#EFF3B2;
  width:100vw;
  overflow:hidden;
}

img.hero-logo.dockit.lg{
  width:20%;
  height:auto;
  margin-top:100px;
  margin-bottom:60px;
}

img.hero-logo.dockit.sm{
  width:60%;
  height:60%;
  margin: 110px auto 30px auto;
}

div.hero.container-fluid.dockit.lg.case{
  min-height:1000px;
}

div.hero.container-fluid.dockit.sm.case{
  height:630px;
}

/*********** button **********/
.btn{
    /* Rectangle 4: */
  background: white;
  box-shadow: 0 4px 4px 0 rgba(101,79,109,0.60);
  border-radius: 10px;
  /* Invision Prototype: */
  font-family:'Source Sans Pro', Arial, sans-serif;
  font-weight:900;
  letter-spacing:2px;
  font-size: 20px;
  padding: 15px 60px 15px 60px;
}

.btn.fixed{
  width:300px;
}
.btn.dark{
  background:#404852!important;
}

.btn.center{
  margin:45px auto 0 auto;
}

.btn.left{
  margin:45px 0 0 0;
}

a.case.btn.float-right{
  margin: 45px 0 45px 60%;
}

/****** border rows ******/

div.border.row.specs.dark{
  border: 1px solid #404852 !important;
  width: 200px;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom:30px;
}


/*********** summary *************/

div.container-fluid.lg.summary{
  padding: 45px 180px 45px 180px;
}

div.container-fluid.sm.summary{
  padding: 40px;
}

div.container-fluid.summary.wasted{ /* wasted */
  background-color: #EFD1DF;
}

div.container-fluid.summary.spotted{ /* spotted */
  background-color: #B6DCCC;
}

div.container-fluid.summary.dockit{ /* dockit */
  background-color: #69ACCD;
}

div.row.summary{
  margin-top:45px;
  margin-bottom:45px;
}

div.col-sm-9, div.col-sm-3{
  padding:0;
}

img.summary.lg{
  width:70%;
}

img.summary.sm{
  width:60%;
  margin-bottom:30px;
}


/********* specs ***********/

div.container-fluid.specs.lg{
  padding: 45px 0px 45px 180px;
}

div.container-fluid.specs.sm{
  padding: 40px;
}

div.container-fluid.specs.wasted{
  background-color:#E9A7C6;
}

div.container-fluid.specs.dockit{
  background-color:#8ECDD6;
}

div.container-fluid.specs.spotted{
  background-color:#8ED1B7;
}

h4.specs{
  margin-top:30px;
  margin-bottom:10px;
}

img.sicon.lg{
  width:30%;
}

img.sicon.sm{
  width:35%;
  margin-top:15px;
}

ul.specs{
  list-style: none;
  padding:0;
}


/********* user survey ********/

div.container-fluid.survey{
  background-color:#FFD4AE;
}

div.container-fluid.survey.lg{
  padding: 45px 180px 45px 180px;
}


div.container-fluid.survey.sm{
  padding:40px;
}

div.survey-details.lg{
  width: 100%;
}

div.survey-details.sm{
  width:90%;
}

h4.survey{
  margin-top:30px;
  margin-bottom:0px;
}

h4.survey.d{
  letter-spacing:1px;
  font-weight:600;
}

/* conclusions */

div.container-fluid.conclusions.lg{
  padding:60px 180px 60px 180px;
}

div.container-fluid.conclusions.sm{
  padding:40px;
}

ol.findings{
  padding-left:20px;
}

/*********** comp analyis ***********/

div.container-fluid.comp{
  background-color:#FFC697;
}

div.container-fluid.comp.lg{
  padding: 60px 180px 60px 180px;
}

div.container-fluid.comp.sm{
  padding:40px;
}

img.header.comp{
  margin: 0 20px 60px 10px;
}

img.comp-logo{
  width:40%;
  height:40%;
  margin:60px 0 30px 0!important;
}

p.comp{
  width:75%;
}

h4.comp.sm{
  margin-top:20px;
}

div.pro-con{
  min-height:250px;
}

.row{
  margin:0px;
}

div.col-sm-4, div.col-sm-3{
  padding:0px;
}


/******* user interviews *******/

div.container-fluid.lg.interviews{
  padding:60px 90px 60px 0px;
}

div.container-fluid.sm.interviews{
  padding:40px;
}

div.container-fluid.interviews{
  background: white;
}

img.interview{
  width:100%;
}

p.interviews, h4.interviews{
  width:90%;
}


/****** persona ******/

img.persona{
  width:90%;
  height:auto;
  margin-top:45px;
}

img.persona.sm{
  width:90%;
  height:90%;
}

div.container-fluid.persona.lg{
    padding:45px 180px 45px 180px;
}

div.container-fluid.persona.sm{
  padding:40px;
}

div.container-fluid.persona.blue-c{
  background-color:#8ECDD6;
}

div.container-fluid.persona.green{
  background-color:#FFD47A;
}

/* persona details */
.persona-details{
  list-style:none;
  padding:0;
  width:80%;
}

h4.persona{
  font-size:18px!important;
}

h3.persona{
  margin-bottom:10px;
}

h4.top-margin{
  margin-top:30px;
}

/****** user stories and flows ******/

div.col-sm-6.right{
  margin-left:50%;
}

div.container-fluid.stories.lg.spotted-c{
  background-color: #EFD1DF; /* spotted */
}

div.container-fluid.stories.sm.spotted-c{
  background-color: #EFD1DF; /* spotted */
}

div.container-fluid.stories.lg.wasted-c{
  background-color: #F6F7CE; /* wasted */
}

div.container-fluid.stories.sm.wasted-c{
  background-color: #F6F7CE; /* wasted */
}

div.container-fluid.stories.lg.dockit-c{
  background-color: #8ED1B7; /* dockit */
}

div.container-fluid.stories.sm.dockit-c{
  background-color: #8ED1B7; /* dockit */
}

div.container-fluid.stories.lg{
  padding:60px 60px 60px 60px;
}

div.container-fluid.stories.sm{
  padding:40px;
}

div.flows{
  margin-top:120px;
}

img.flows{
  width:80%;
}

div.col-sm-6{
  padding:0;
}

/**** e-commerce checklist * wasted only * *****/

div.container-fluid.checklist.lg{
  padding:60px 180px 60px 180px;
}

div.container-fluid.checklist.sm{
  padding:40px;
}

div.container-fluid.checklist{
  background-color:#EFF3B2;
}

/**** navigation *****/

div.container-fluid.sitemap.lg{
  padding:60px 180px 60px 180px;
}

div.container-fluid.sitemap.sm{
  padding:40px;
}

div.container-fluid.sitemap.wasted-c{
  background-color:#EAEFA1;
}

div.container-fluid.sitemap.spotted-c{
  background-color:#E8D6EA;
}

div.container-fluid.sitemap.dockit-c{
  background-color:#B6DCCC;
}

img.sitemap{
  width: 100%;
  margin:120px 0 60px 0;
}

img.sitemap.dockit{
  width:60%;
}

/************ style / branding  ***********/

img.style.lg{
    margin: 10px 0px inherit -70px;
    width:120%;
  }

img.style.sm{
  width:100%;
  margin: 30px auto 30px auto;
}

div.style{
  padding-top:60px;
  padding-right:60px;
}

.white{
  color:white;
}

div.container-fluid.style.lg{
  padding:0px 60px 60px 170px;
  overflow:hidden;
}

div.container-fluid.style.sm{
  padding:40px;
  overflow:hidden;
}

div.container-fluid.style.spotted-c, div.container-fluid.style.wasted-c{
  background-color:#B6DCCC;
}

div.container-fluid.style.dockit-c{
  background-color:#EFD1DF;
}

div.col-sm-8{
  padding:0;
}



/********* name ********** Wasted only */

div.container-fluid.name.wasted-c{
    background-color: #8ED1B7;
    min-height: 70vh;
}

div.container-fluid.name.wasted-c.lg{
  padding:60px 180px 60px 180px;
}
div.container-fluid.name.wasted-c.sm{
  padding:40px;
}

img.nicon{
  width:70%;
  margin:30px auto 30px auto;
}

img.nicon.sm{
  width:50%;
  margin:30px auto 30px auto;
}

h4.wn{
  margin:15px auto 5px auto;
  width:80%;
}

p.wn{
  width:80%;
  margin:5px auto 30px auto;
}

/********* name * Dockit Only **********/

div.container-fluid.name.dockit-c{
  background-color: #E9A7C6;
}

div.container-fluid.name.lg.dockit-c{
  padding:60px 180px 60px 180px;
}

div.container-fluid.name.sm.dockit-c{
  padding:40px;
}

img.name-dockit.lg{
  width:100%;
  margin:60px;
}

img.name-dockit.sm{
  width:100%;
  margin:30px;
}


/********* name ********** spotted only */

div.container-fluid.name.spotted-c{
  background-color: #8ED1B7;
}

div.container-fluid.name.spotted-c.lg{
  padding:60px 90px 60px 90px;
  min-height: 70vh;
}

div.container-fluid.name.spotted-c.sm{
  padding:40px;
  min-height: 70vh;
}

img.name-spotted{
  width:80%;
  height:auto;
  margin-top: 30px;
}

img.name-spotted.sm{
  width:100%;
  height:auto;
  margin-top:30px;
  margin-bottom:30px;
}


/******* storyframe ****** wasted only **/

div.container-fluid.storyframe.lg{
  padding:60px 180px 60px 180px;
}

div.container-fluid.storyframe.sm{
  padding:40px;
}

div.storyframe-div{
  margin-top:30px;
}

p.storyframe.lg{
  font-style:italic;
  width:80%;
  font-size:24px!important;
  line-height:40px;
}

p.storyframe.sm{
  font-style:italic;
  margin-top:30px;
}

/******* logo design ******/

div.container-fluid.logo.lg{
  background-color:#E2EAF4;
  padding:60px 180px 120px 180px;
}

div.container-fluid.logo.sm{
  background-color:#E2EAF4;
  padding:40px;
}

img.logo.lg{
  width: 60%;
  margin-top:60px;
  margin-bottom:60px;
}

img.logo.sm{
  width: 100%;
  margin:40px auto 40px auto;
}

img.final-logo{
  width:100%;
}


/***** custom icons ***** dockit only */
img.cicons{
  width:100%;
  margin-top:60px;
}

div.container-fluid.icons.lg{
  background-color:#404852;
  padding:60px 180px 60px 180px;
}

div.container-fluid.icons.sm{
  background-color:#404852;
  padding:40px;
}

/*********** lowfi ***********/
div.container-fluid.lowfi.lg{
  background-color: #FFCCBC;
  padding:60px 60px 0px 60px;
}

div.container-fluid.lowfi.sm{
  background-color: #FFCCBC;
  padding: 40px 40px 0px 40px;
}

ul.lowfi.sea{
  padding:10px;
  list-style:none;

}

ul.lowfi > li{
  margin-top:20px;
}

ul.lowfi.sea.sm{
  list-style:none;
}

ul.lowfi.sm > li{
  margin-top:10px;
}


div.col-sm-4.sm{
  padding:0px;
}

img.wires{
  width:100%;
  height:100%;
}

h4.lowfi{
  margin: 30px 0 10px 150px;
}

ul.lowfi.lg{
  margin: 0 0 60px 150px;
}

ul.lowfi.sm{
  margin: 0 0 60px 0px;
  padding-left:20px;
}

h3.lowfi.lg{
  margin-left: 150px;
}


/**** feedback row ****/
div.container-fluid.feedback.lg{
  padding:60px 180px 60px 180px;
}

div.container-fluid.feedback.sm{
  padding:40px;
}

ul.feed{
  padding:0;
  list-style:none;
  width:90%;
}

ul.feed > li{
  margin-top:30px;
}




/********* highfi ************ wasted */
/* high fi carousel */
div.container-fluid.highfi.lg{
  background-color: #FBFBFB;
  padding:60px 180px 60px 180px;
}

div.container-fluid.highfi.sm{
  background-color: #FBFBFB;
  padding:40px;
}

img.mockups.sm{
  width:100%;
  margin: 30px auto 30px auto;
}

img.mockups.lg{
  width:100%;
  margin: 30px auto 30px auto;
}

h4.mockups{
  margin-top:60px;
}



/********* highfi ************ dockit */


div.carousel.slick-initialized.slick-slider{
  margin-bottom:60px;
}

.carousel-img.sm{
  width:200px;
  height:auto;
}



/**** prototype *****/
div.container-fluid.proto{
  background-color:#C5BDEF;
  min-height:55vh;
}

div.container-fluid.proto.lg{
  padding:60px 180px 60px 180px;
}

div.container-fluid.proto.sm{
  padding:40px;
}

img.proto.sm{
  margin: 30px auto 30px auto;
  width:100%;
}

img.proto.lg{
  vertical-align: middle;
  border-style: none;
  width: 90%;
  margin-left: 5%;
}

p.proto{
  width:100%;
}


/*** testing spotted ****/
img.testing-spotted{
  width:90%;
  margin:45px;
}

img.testing-spotted-two{
  width:50%;
  margin:45px;
}



/******  testing large  *********/
div.container-fluid.testing.lg{
  background-color:#69ACCD;
  padding:60px;
}

div.container-fluid.testing.sm{
  background-color:#69ACCD;
  padding:20px;
}

div.border.row.blue{
  border: 1px solid #69ACCD !important;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom:30px;
}

div.border.row.sunshine{
  border: 2px solid #FFC73F !important;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom:30px;
}

div.border.row.lg{
  width:300px;
}

div.border.row.xlg{
  width:100%;
}
div.border.row.xxlg{
  width:100%;
}

div.blue.sm{
  width:200px;
}

ul.testing{
  list-style:none;
  padding:0!important;
}

p.question{
  color: #69ACCD!important;
}

img.menu{
  width:30%;
  height:30%;
}

div.yellow{
  /* Rectangle 11: */
  background: #FFFFFF;
}

div.yellow.testing.lg{
  width:90%;
  margin:60px 145px 60px 145px;
  padding:60px 60px 60px 60px;
}

div.yellow.sm.testing{
  width:95%;
  margin:60px 10px 60px 10px;
  padding:30px 20px 30px 20px;
}

img.test.lg{
  margin-top:30px;
  margin-bottom:30px;
  margin-left:18%;
  width:30%;
  height:30%;
}

img.test-two.lg{
  margin-top:30px;
  margin-bottom:30px;
  margin-left:5%;
  width:30%;
  height:30%;
}

img.test.sm{
  margin: 30px auto 30px auto;
  width:90%;
  height:90%;
}

img.test-two.sm{
  margin: 30px auto 30px auto;
  width:90%;
  height:90%;
}

/****** reflection ******/
div.container-fluid.reflection.lg{
  background-color:#FFD47A;
  padding:60px 180px 60px 180px;
}

div.container-fluid.reflection.sm{
  background-color:#FFD47A;
  padding:40px;
}

ul.row.reflection{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.row.reflection > li > p, ul.row.reflection > li > h4 {
  width:95%;
}

img.ricon{
  width:45%;
  margin:30px 0 30px 0;
}

p.reflect{
  margin: 60px auto 0px auto;
}
