div.row.graphic{
  margin-top:60px;
}

h4.col-sm-12.input-position.text-center.ext-h{
  margin-top:120px;
}

div.row.text-center{
  margin-top:60px;
}

/* headers in separate div from graphic, smaller header above graphic */
div.row.graphic.ext-h{
  margin-top:0px;
}

/* large section images */

img.mx-auto.d-block{
  width:80%;
  height:auto;
  margin-top:60px;
}

/* smaller section images */
img.mx-auto.d-block.small{
  margin-top:0px;
  width:100%;
  height:auto;
  padding-left:40px;
}

/* all section text */
div.row.section-text{
  width:80%;
  margin:auto;
  margin-top:60px;
}

div.row.table{
  width:80%;
  margin:auto;
  margin-top:60px;
}



/* hero container */
.case-container {
  padding-top: 100px;
}

/* case logo */
img.mx-auto.d-block.dockit-logo{
  margin-top:60px;
  margin-bottom:60px;
  width:40%;
}

/* roles */
h4.col-sm-12.input-position.text-center{
  margin-top:30px;
  margin-bottom:30px;
}

/*the short version*/
img.summary{
  width:160px;
  height:auto;
}

p.short{
  width:80%;
  margin-top:20px;
}
div.row.short{
  margin-top:30px;
}

/* my process */

/* img.summary covers others */

img.mx-auto.d-block.summary{
  width:160px;
  height:auto;
  margin-top:0px;
}

/* new headers */
img.mx-auto.d-block.section-intro{
  width:50%;
  padding-top:200px;
  padding-bottom:200px;
}

.container-header{
  background-color:white;
  width:100%;
  margin-top:60px;
  margin-bottom:60px;
}




/* research */

/* survey results */
div.col-sm-6 > ul {
  list-style:none;
}

div.col-sm-6 > ul > li{
  margin-top:40px;
}

li.col-sm-6{
    margin-left:0px;
}

div.row.survey-results > div.col-sm-6{
  padding: 0 40px 0 40px;
}


/* like most / like least */

img.survey{
  width: 80%;
  height: 100%;
  padding-top:30px;
}

div.row.survey-like{
  margin:90px auto auto auto;
  width:80%;
  padding-left:15px;
}

div.row.survey-like.two{
  margin:30px auto auto auto;
  width:80%;
  padding-left:15px;
}

h4.survey{
  width:100%;
}

/* analysis */


.col-sm-4.pro-con.mx-auto.d-block > img {
  width:50%;
  height:auto;
  margin-left:15%;
}


.row.pc{
  margin-top:40px;
}

div.col-sm-4.pro-con > p{
  width:80%;
}

div.col-sm-4.pro-con > h5{
  padding-left:35%;
}

div.row.graphic.strong-weak{
  margin-top:120px;
}

/* user interviews */

ul.col-sm-12 > li{
  margin-left:40px;
}

/* mental model */


/* user flows */


/* logo design */

div.col-sm-3 > img.logo{
  width:70%;
}

div.col-sm-3.ld > p, div.col-sm-3.ld > h4 {
  width: 70%;
  margin-top: 20px;
  margin-left: 20px;
}

div.row.ld{
  margin-top:15px;
  margin-bottom:15px;
}

/* final logo, gets 60px from "row graphic" too much space with top margin */

img.mx-auto.d-block.final-logo{
  width:100%;
  margin-top:-20px;
}

/* custom illustrations */

img.mx-auto.d-block.custom-icons{
  width:60%;
}

/* nav test */

img.nav-test{
  width:80%;
  height:auto;
}

/* reflection */

div.row.section-text.reflection{
  margin-bottom:120px;
}
