/**** basics ****/

body{
overflow-x:hidden;
}

/********** navbar *********/

.navbar{
  width: 100vw;
  height:60px;
  background: white;
  position: relative;
  padding:0px;
  margin:0px;
  z-index:1;
}

ul.navbar-nav{
  background:#FFFFFF;
}

a.navbar-brand > img{ /* personal logo */
  height:40px;
  width:auto;
  padding:0px;
  margin:20px 20px 20px 20px; /* gets 15px pad from container */
}

a.nav-item.nav-link{
  font-size:16px;
  margin-left:20px;
  color:#FFD47A;
}

a.nav-item.nav-link:hover{
  color:#69ACCD;
}


ul.navbar-nav{ /* to match brand padding */
  padding-top: .3125rem!important;
  padding-bottom: .3125rem!important;
  margin-right: 1rem!important;
}


a{ /* basic */
  color:#404852;
  font-family:'Source Sans Pro', Arial, sans-serif;
}

/****** intro *********/

.hero-text{ /* for navbar purposes */
  z-index:0;
}


div.container-fluid.hero{ /* background */
  background-color: white;
  height: 80vh;
  padding:0px;
}

h3, h4, p{
  color:#404852;
}



h3.intro-text{ /* general */
  font-family:'Source Sans Pro:900', Arial, sans-serif;
  font-weight:900;
}

h3.intro-text.yellow{
  color:#FFD47A;
}

h3.intro-text.text-left.lg{ /* tablet desktop */
  margin:180px 0 0 180px;
  font-size:48px;
}

h3.intro-text.text-left.sm{ /* sm xs devices */
  margin:90px 0 0 20px;
  font-size:24px;
}

/******* CASES ******/

h2{ /* basic */
  font-family: 'EB Garamound', serif;
  color:white;
}

  /******** large screens  *******/


  h1.lg{ /* basic */
    font-family:'Source Sans Pro:900', Arial, sans-serif;
    font-weight:900;
    font-size: 165px;
    padding: 0px;
    margin: 0 0 -42px 165px;
    letter-spacing:-15px;
  }

h1.marigold, p.marigold, a.marigold{
    color:#FFD47A!important;
  }

  h2.text-left.case-header.lg{
    margin-top:80px;
    padding-left:180px;
    font-size:72px;
  }

  p{
    font-size:20px;
    font-family:'Source Sans Pro:900', Arial, sans-serif;
  }

  ul > li, ol > li{
    font-size:20px;
    font-family:'Source Sans Pro:900', Arial, sans-serif;
  }


  p.sm{
    font-size:16px!important;
  }

  /* case dividers */
  div.border.lg{
    border: 3px solid white!important;
    width: 100px;
    margin-left: 180px;
    margin-top: 60px;
  }

  /* case text */
  h3.text-left.case-text.lg{
    width: 600px;
    padding-left: 180px;
    margin-top: 60px;
    color: white;
  }

  /* large backgrounds */

  div.container-fluid.spotted.landing{
    background-color:#FFD47A;
    max-height:515px;
    height:70vh;
    overflow:hidden;
    padding:0px;
  }

  img.cell{
    width:90%;
    padding-top:45px;
    padding-bottom:45px;
    margin-right:0px!important;
    padding-right:0px!important;
  }

  img.desktop{
    width:97%;
    padding-top:45px;
    padding-bottom:45px;
    margin-right:0px!important;
    padding-right:0px!important;
  }

  div.container-fluid.wasted.landing{
    background-color:#8ECDD6;
    max-height:515px;
    height:70vh;
    overflow:hidden;
    padding:0px;
  }

  div.container-fluid.dockit.landing{
    background-color:#94DDBF;
    max-height:515px;
    height:70vh;
    overflow:hidden;
    padding:0px;
  }

  /********** mobile ************/

  h1.sm{ /* basic */
    font-family:'Source Sans Pro:900', Arial, sans-serif;
    font-weight:900;
    font-size: 72px;
    padding: 0px;
    margin: 0 0 -24px 5px;
    letter-spacing:-8px;
  }

  h2.text-left.case-header.sm{
    margin-top:80px;
    margin-left:20px;
    font-size:48px;
  }

  /* case dividers mobile */
  div.border.sm{
    border: 3px solid white!important;
    width: 60px;
    margin-left: 20px;
    margin-top: 20px;
  }

  /* case text mobile */
  h3.text-left.case-text.sm{
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
  }

  /* background images mobile*/

  div.container-fluid.d-md-none.spotted.landing{
    background-color:#FFD47A;
    min-height:515px;
    overflow:hidden;
    padding:0px;
    height:70vh;
  }


  div.container-fluid.d-md-none.wasted.landing{
    background-color:#8ECDD6;
    max-height:515px;
    min-height:515px;
    overflow:hidden;
    padding:0px;
    height:70vh;
  }

  div.container-fluid.d-md-none.dockit.landing{
    background-color:#94DDBF;
    min-height:515px;
    overflow:hidden;
    padding:0px;
    height:70vh;
  }

  /******** overlay spotted ********/

  div.overlay {
  position: absolute;
  height: 70vh;
  width: 100vw;
  max-height:515px;
  opacity: 0;
  transition: .5s ease;
}

div.overlay.spotted{
    background-color: rgba(254,85,164,0.30);
}

div.overlay.wasted{
    background-color: rgba(254,85,164,0.30);
}

div.overlay.dockit{
  background: rgba(232,242,85,0.30);
}

div.container-fluid.image.d-none.d-md-block:hover .overlay {
  opacity: .8;
}

div.container-fluid.image.d-md-none:hover .overlay {
  opacity: .8;
}

div.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/***** active selector *******/

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/****** contact header *******/

div.container-fluid.contact{
  margin-top:120px;
}

/********* footer ***********/

h1.slate{
  color:#404852;
}

.container-fluid.footer{
  background-color:#404852;
  min-height:350px;
}


ul.footer > li{
  display:inline-block;
  font-size:36px;
  margin:0 20px 0 0;
}

.fa-envelope, .fa-github, .fa-linkedin{
  color:#404852;
  background-color:white;
  padding:10px;
  border-radius:50%;
  font-size:22px;
  }

/* large screens */

h2.text-left.footer, p.text-left.footer{
  color:white;
  margin-top: 60px;
  margin-left: 180px;
}

ul.footer{
  list-style:none;
  margin:30px 0 0 180px;
  padding:0px;
}

/* large screens */

h2.text-left.footer.sm, p.text-left.footer.sm{
  color:white;
  margin-top: 60px;
  margin-left: 20px;
}

ul.footer.sm{
  list-style:none;
  margin-left:20px;
  padding:0px;
}
