/********** navbar *********/

.navbar{
  width: 100%;
  height:60px;
  background: white;
  position: static;
  padding:0px;
}

a.navbar-brand > img{ /* personal logo */
  height:40px;
  width:auto;
  padding:0px;
  margin-left:5px; /* gets 15px pad from container */
}

a.nav-item.nav-link{
  font-size:16px;
}

a{ /* basic */
  color:#191D2C;
  font-family:'Source Sans Pro', Arial, sans-serif;
}

/****** intro *********/

div.container-fluid.hero{ /* background */
  background-color: white;
  height: 80vh;
}

h3.intro-text{ /* general */
  font-family:'Source Sans Pro:900', Arial, sans-serif;
  font-weight:900;
}

h3.intro-text.text-left.lg{ /*tablet desktop */
  margin:180px 0 0 240px;
  font-size:48px;
}

h3.intro-text.text-left.sm{ /* sm xs devices */
  margin:90px 0 0 20px;
  font-size:24px;
}

/******* CASES ******/

h2{ /* basic */
  font-family: 'EB Garamound', serif;
  color:white;
}

  /******** large screens  *******/


  h1.lg{ /* basic */
    font-family:'Source Sans Pro:900', Arial, sans-serif;
    font-weight:900;
    font-size: 185px;
    color:#191D2C;
    padding: 0px;
    margin: 0 0 -48px 225px;
  }

  h2.text-left.case-header.lg{
    margin-top:80px;
    margin-left:240px;
    font-size:72px;
  }

  /* case dividers */
  div.border.lg{
    border: 3px solid white!important;
    width: 100px;
    margin-left: 240px;
    margin-top: 60px;
  }

  /* case text */
  h3.text-left.case-text.lg{
    width: 400px;
    margin-left: 240px;
    margin-top: 60px;
    color: white;
  }

  /* large backgrounds */

  div.container-fluid.spotted{
    background: url("../images/spot-bg-hero.png") no-repeat;
    background-size: cover;
    max-height:515px;
    height:70vh;
    overflow:hidden;
    padding:0px;
  }

  div.container-fluid.wasted{
    background: url("../images/wasted-hero-bg.png") no-repeat;
    background-size: cover;
    max-height:515px;
    height:70vh;
    overflow:hidden;
    padding:0px;
  }

  div.container-fluid.dockit{
    background: url("../images/dckit-hero-bg.png") no-repeat;
    background-size: cover;
    max-height:515px;
    height:70vh;
    overflow:hidden;
    padding:0px;
  }

  /********** mobile ************/

  h1.sm{ /* basic */
    font-family:'Source Sans Pro:900', Arial, sans-serif;
    font-weight:900;
    font-size: 85px;
    color:#191D2C;
    padding: 0px;
    margin: 0 0 -24px 5px;
  }

  h2.text-left.case-header.sm{
    margin-top:80px;
    margin-left:20px;
    font-size:48px;
  }

  /* case dividers mobile */
  div.border.sm{
    border: 3px solid white!important;
    width: 60px;
    margin-left: 20px;
    margin-top: 20px;
  }

  /* case text mobile */
  h3.text-left.case-text.sm{
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
  }

  /* background images mobile*/

  div.container-fluid.d-md-none.spotted{
    background: url("../images/spotted-mobile.png") no-repeat; no-repeat;
    background-size: cover;
    max-height:515px;
    overflow:hidden;
    padding:0px;
    height:70vh;
  }

  div.container-fluid.d-md-none.wasted{
    background: url("../images/wasted-mobile-bg.png")  no-repeat;
    background-size: cover;
    max-height:515px;
    overflow:hidden;
    padding:0px;
    height:70vh;
  }

  div.container-fluid.d-md-none.dockit{
    background: url("../images/dckit-mobile-bg.png")  no-repeat;
    background-size: cover;
    max-height:515px;
    overflow:hidden;
    padding:0px;
    height:70vh;
  }

  /******** overlay spotted ********/

  div.overlay {
  position: absolute;
  height: 70vh;
  width: 100vw;
  max-height:515px;
  opacity: 0;
  transition: .5s ease;
}

div.overlay.spotted{
    background-color: #CA4051;
}

div.overlay.wasted{
    background-color: #CA4051;
}

div.overlay.dockit{
    background-color: #CA4051;
}

div.container-fluid.image.d-none.d-md-block:hover .overlay {
  opacity: .8;
}

div.container-fluid.image.d-md-none:hover .overlay {
  opacity: .8;
}

div.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/***** active selector *******/

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/****** contact header *******/

div.container-fluid.contact{
  margin-top:120px;
}

/********* footer ***********/

.container-fluid.footer{
  background-color:#191D2C;
  min-height:350px;
}


div.row > ul > li{
  display:inline-block;
  font-size:36px;
  margin:0 20px 0 0;
}

.fa-envelope, .fa-github, .fa-linkedin{
  color:#191D2C;
  background-color:white;
  padding:10px;
  border-radius:50%;
  font-size:22px;
  }

/* large screens */

h2.text-left.footer, p.text-left.footer{
  color:white;
  margin-top: 60px;
  margin-left: 240px;
}

div.row > ul{
  list-style:none;
  margin:30px 0 0 240px;
  padding:0px;
}

/* large screens */

h2.text-left.footer.sm, p.text-left.footer.sm{
  color:white;
  margin-top: 60px;
  margin-left: 20px;
}

div.row > ul.sm{
  list-style:none;
  margin-left:20px;
  padding:0px;
}
