/* hero */

/* background */
div.hero.container-fluid{
  background-size: cover;
  margin:0px;
  min-height:490px;
}
/* navigation */
.col-sm-12 > li{
  font-size:16px;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  color:#27202E;
  display:inline-block;
  text-indent:30px;
  padding: 40px 0px 100px 0px;
}

ul.col-sm-12{
  list-style:none;
  padding:0px 0px 0px 60px;
  margin-bottom:490px;
}

.col-sm-12 li.active {
  padding-bottom: 1px;
  border-bottom: 2px solid #27202E;
  text-indent:0px;
}

/* hero image */

.jumbotron {
background-image: url("../images/smaller-portfolio-bg.png");
background-size: cover;
padding:0;
margin:0;
}

/* scroll down icon */
.fa-angle-down{
  color:#27202E;
  font-size: 100px;
}

/* intro */
.row.intro{
  padding-top:20px
}

.col-sm-8.intro-text{
  width:100%;
  height:auto;
  background-color:#FEDD46;
}

.col-sm-8.intro-text > h2{
  width:90%;
  padding:40px;
}

.col-sm-8, .col-sm-4{
  margin:0;
  padding:0;
  overflow:hidden;
}

.col-sm-4.gg > img{
  height:100%;
  overflow:hidden;
}

.btn{
  color: #933FDB;
  font-family: "JosefinSans-SemiBold", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 50px;
  border-width: 2px;
  border-color:#933FDB;
  border-radius:0;
  padding:10px 50px;
  margin-top:35px;
}

.row.action{
  background-image: linear-gradient(-180deg, #FCF5FB 0%, #F7E7F6 100%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.75);
  height:120px;
}

/* case-1 dockit */
.container-fluid.cases{
  padding:5% 0 5% 0;
  background: #FFFFFF;
  box-shadow: 0 6px 2px 0 #FFFFFF;
}

.col-sm-6.dockit-logo{
  width:100%;
  height:auto;
}

.col-sm-6.dockit-logo > img{
  width:75%;
  margin: 5% 0 5% 15%;
}

.col-sm-6.header{
  height:auto;
  padding:10px;
  margin-top:7.5%;
}

.col-sm-6.header > h3{
  width:80%;
  margin:2.5% 2.5% 2.5% 9.5%;
}

.col-sm-6.header > h4{
  width:80%;
  margin:2.5% 2.5% 2.5% 9.5%;
}

.col-sm-6.header > a.btn{
  margin:2.5% 2.5% 2.5% 9.5%;
}

/* footer */

.container-fluid.footer{
  background-color:#27202E;
  min-height:320px;
}
.col-sm-12 h2{
  color:#FFFFFF;
  padding-top:40px;
}
.col-sm-12 > ul{
  list-style:none;
  margin:0px;
  padding: 20px 0px 40px 0px;
}
.col-sm-12 > ul > li{
  display:inline-block;
  font-size:36px;
  margin:10px;
}
.fa-envelope{
  color:white;
  background-color:#E7738F;
  padding:15px;
  border-radius:50%;
}
.fa-github{
  color:white;
  background-color:#FEDD46;
  padding:15px;
  border-radius:50%;
}
.fa-linkedin{
  color:white;
  background-color:#0077B5;
  padding:15px;
  border-radius:50%;
}
.col-sm-12 p{
  color:#FFFFFF;
}
