img.persona{
  width:80%;
  margin:60px;
  background-color:white;
  padding-bottom:30px;
}

h3.persona{
  margin:60px auto 30px auto;
  color:#404852;
}

div.container-fluid.persona.spotted{
  background-color: #FFD47A;
}

div.container-fluid.persona.wasted{
  background-color: #B9D9EC;
}

div.container-fluid.persona.dockit{
  background-color: #FFFFFF;
}
